.typingContainer {
    display: inline-block;
    position: relative;
  }
  
  .cursor {
    opacity: 1;
    animation: blink 0.75s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }